<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 aside visible-md visible-lg">
  <div class="row">
    <div class="col-md-3 col-xs-3 aside1">
      <br><br>
      <a class="pjaxlink" href="/"><img src="/public/img/avatar.jpg" class="img-rounded avatar"></a>
      <br><br>
      <ul class="nav nav-pills nav-stacked">
          <li><a href="#all" data-toggle="tab">所有文章</a></li>
        {% for category in site.categories %}
          <li><a href="#{{ category | first }}" data-toggle="tab">{{ category[0] }}</a></li>
        {% endfor %}
        <li><a href="#tags" data-toggle="tab">{{ site.locals.tags }}</a></li>
        <li><a class="pjaxlink" href="/pages/about.html">{{ site.locals.about }}</a></li>
      </ul>
    </div>
    <div class="col-md-9 col-xs-9 aside2">
      <div class="row">
        <div class="tab-content">
            <div class="tab-pane" id="all">
              <div class="col-md-12">
                <br>
                <h1>所有文章</h1>
              </div>
            <style>
            .list-group .date {color: #9aa4af;float: right;font-size: 14px;}
            </style>
              <div class="list-group">
              {% for post in site.posts %}
                <a href="{{ post.url }}" class="list-group-item pjaxlink">{{post.title}}<span class="date">{{post.date | date: "%b %Y" }}</span></a>
              {% endfor %}
              </div>
            </div>
          {% for category in site.categories %} 
            <div class="tab-pane" id="{{ category[0] }}">
              <div class="col-md-12">
                <br>
                <h1>{{ category[0] }}</h1>
              </div>
              <div class="list-group">
              {% for post in category[1] %}
                <a href="{{ post.url }}" class="list-group-item pjaxlink">{{post.title}}</a>
              {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
